:root {
  --header-color: #D0F0C0;
  --page-color: #FDF8DC;
  --content-color: #ebcb8c;
}

.headerbar {
  background-color: var(--header-color);
  box-shadow: 5px 5px 5px #888888;
}

.main-page {
  background-color: var(--page-color);
  margin-bottom: 16px;
}

.content {
  background-color: var(--content-color);
  overflow-y: auto;
  /* margin: 10px; */
  padding: 12px;
  max-height: 75vh;
}

.content-item { 
  margin-bottom: 16px;
}

body {
  background-color: var(--page-color);
}